@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&');

*{
    font-family: poppins;
}

html, body, .opening-section {
    margin: 0;
    padding: 0;
    background-color: black;
  }

.opening-section{
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url('images/racing.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
}

.opening-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
    font-weight: bolder;
    font-size: large;
    color: whitesmoke;
}

.opening-text > p,
.opening-text > h1 {
  background-color: black;
  border-radius: 5px;
  white-space: nowrap;
}

.selectHeader{
  background-color: black;
  border-radius: 5px;
}

#yellow{
  color: yellow;
}

#blue{
  color: blue;
}

#red{
  color: red;
}

.checkbox{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  


button{
  cursor: pointer;
  background-color: red;
  padding: 5px;
  font-size: larger;
  border-radius: 5px;
}

button:hover{
  background-color: black;
  color: red;
}

#canvas{
    position: absolute;
    border: 2px solid red;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.full-time{
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url('images/crash.jpeg'); 
  background-repeat: no-repeat; 
  background-size: cover;
}

#fifty{
  color: red;
  font-size: larger;
}

.full-time-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-weight: bolder;
  font-size: 20px;
  color: whitesmoke;
}

.full-time-text > p {
  background-color: black;
  border-radius: 5px;

}

.info{
  margin-top: 50px;
  margin-left: 50px;
  font-size: xx-large;
  font-weight: bold;
  color: red;
}

.level{
  position: absolute;
  top: 50px;
  right: 50px;
}

#level{
  color: blue;
  font-size: 100px;
}

#yourScore{
  color: yellow;
  font-size: 50px;
}

.utilityButtons{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}

.stats{
  display: flex;
  flex-direction: row;
  background-color: black;
  font-size: xx-large;
}

#scoreTwo{
  color: red;
  font-size: 50px;
}

#levelTwo{
  color: blue;
  font-size: 50px;
}

.play-music{
  cursor: pointer;
  position: absolute;
  color: white;
  background-color: black;
  padding: none;
}
#sound{
  color: red;
}

.music-credit{
  position: absolute;
  color: white;
  left: 5px;
  bottom: 0px;
  font-size: x-small;
}

.closing-credits{
  position: absolute;
  color: white;
  left: 5px;
  top: 0px;
  font-size: x-small;
}

@media(max-width:630px){
.opening-text  {
  width: 90%;
}
.opening-text > p,
.opening-text > h1 {
  white-space: normal;
}
.music-credit{
  display: none;
}
}